:root {
  --dark-theme-bg-color: rgba(26, 26, 26, 1);
  --dark-theme-font-color: rgba(240, 230, 215, 1);
  --light-theme-bg-color: rgba(240, 210, 200, 1);
  --light-theme-font-color: rgba(26, 26, 26, 1);
  --base-pixel-font: 'DotGothic16';
}
@font-face {
  font-family: "YT323";
  src: url("./fonts/VT323/VT323-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DotGothic16";
  src: url("./fonts/DotGothic16/DotGothic16-Regular.ttf") format("truetype");
}

body[mode="dark"] {
  --bg-color: var(--dark-theme-bg-color);
  --font-color: var(--dark-theme-font-color);
  background-color: var(--bg-color);
  color: var(--font-color);
  scrollbar-color: var(--base-font-color);
}
body[mode="light"] {
  --bg-color: var(--light-theme-bg-color);
  --font-color: var(--light-theme-font-color);
  background-color: var(--bg-color);
  color: var(--font-color);
  scrollbar-color: var(--base-font-color);
}
body[mode="dark"] #button-dark-on {
  display: none;
}
body[mode="light"] #button-light-on {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 98vh;
  padding: 0px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  border-color: var(--font-color);
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px; /* Регулируйте ширину угла */
  height: 30px; /* Регулируйте высоту угла */
  background-color: var(--bg-color); /* Цвет угла */
  right-border: solid 1px var(--font-color);
  transform: rotate(45deg); /* Поворот на 45 градусов */
  z-index: -1; /* Поднимаем псевдоэлемент ниже контента */
}
@media (max-width: 768px) {
  section {
    overflow-y: auto;
    width: 100%;
    margin-bottom: 100px;
  } 
}
@media (min-width: 768px) {
  section {
    display: flex;
    flex: 100%;
    overflow: hidden;
    height: 100%;
  }
}
header,aside,main,footer {
  border-style: solid;
  border-width: 1px;
}
header,aside,main {
  padding: 10px;
}
header {
  font-family: var(--base-pixel-font), 'Segoe UI', Verdana, sans-serif;
}
header > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > span div {
  display: flex;
  align-items: center;
}
header .keys {
  overflow-x: auto;
}
header > span div.key {
  justify-content: center;
  flex: 25%;
  transition: all .2s linear;
}
.hover-focus:hover {
  padding-left: 15px;
  padding-right: 15px;
  transition: all .2s linear;
}
/* переделать на var */
body[mode="dark"] .hover-focus:hover {
  background-color: rgba(66, 66, 66, .5);
}
body[mode="light"] .hover-focus:hover {
  background-color: rgba(133, 133, 133, .5);
}
header > span div.key:not(:last-child) {
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: var(--font-color);
  height: 100%;
}
header > span:not(:last-child) {
  border-bottom-width: 1px;
  border-bottom-style:dashed;
  border-bottom-color: var(--font-color);
}
main {
  flex: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main > .employment-record {
  display: flex;
  transition: all .2s linear;
}
@media (min-width: 768px) {
  main > .employment-record {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  main > .employment-record {
    flex-direction: column;
    overflow-y: auto;
    max-width: 100%;
  }
}
main > .employment-record:hover {
  background-color: rgba(66, 66, 66, .5);
}
main > .employment-record summary {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
main > .employment-record summary:not(:hover) {
  border-bottom-color: transparent;
  transition: all .2s linear;
} 
main > .employment-record summary:hover {
  cursor: pointer;
  border-bottom-color: var(--font-color);
  transition: all .2s linear;
}

main > span:not(:last-child),
main > div:not(:last-child),
aside > div:not(:last-child),
aside > span:not(:last-child),
section .list li:not(:last-child) {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
main > *:not(:last-child),
aside > *:not(:last-child),
section .list li:not(:last-child) {
  border-bottom-color: var(--font-color);
}
main .data {
  flex: 3 50%;
  display: flex;
  align-items: center;
}
main .data label {
  line-height: 0em;
  margin-bottom: 0.5em;
}
p {
  margin-left: 10px;
  margin-right: 10px;
}
h1,h2,h3,h4,h5,h6 {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
  font-family: var(--base-pixel-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (min-width: 768px) {  
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {  
  h1 {
    font-size: 20px;
  }
}
main > .employment-record > .details {
  flex: 7 50%;
  display: flex;
  align-items: center;
}
main > .employment-record > .details h4 {
  margin-right: 10px;
}
main > .employment-record > .details p {
  white-space: pre;
  word-wrap: break-word;
}
aside {
  flex: 25%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main, aside {
  overflow-y: auto;
}
ul {
  margin-left: 5px;
  padding-left: 5px;
}
ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  background-color: inherit;
  overflow-x: auto;
  box-sizing: content-box;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    max-height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  footer #number {
    display: flex;
    flex-direction: row;
  }
  footer #phone-number {
    white-space: nowrap;
  }
  footer #email {
    font-size: 20px;
    font-weight: 400;
  }
}
footer > div {
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  flex: 20%;
  display: flex;
  align-items: center;
}
footer > div.stretch {
  flex: 20em;
}
footer div:not(:last-child) {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--font-color);
}
.pixelated {
  vertical-align: middle;
  padding: 8px;
  font-family: var(--base-pixel-font), 'Segoe UI', Verdana, sans-serif;
  font-weight: 400;
  white-space:nowrap;
}
.svg-icon {
  display: block;
  height: 24px;
  width: 24px;
  padding: 4px;
}
body[mode="dark"] img.dark {
  display: none;
}
body[mode="light"] img.light {
  display: none;
}
.svg-icon-big {
  padding: 5px;
  height: 40px;
  width: 40px;
}
button {
  background: none;
  outline: none;
  border: none;
  font-size: 1em;;
  font-family: var(--base-pixel-font), 'Segoe UI', Verdana, sans-serif;
  font-weight: bolder;
  display: flex;
  align-items: center;
  color: var(--font-color);
}
button:hover {
  cursor: pointer;
  color: var(--font-color);
}
svg path {
  fill: var(--font-color);
}
.title {
  display: flex;
  align-items: center;
}
.copied {
  cursor:help;
}
.copied [copied]:after {
  margin-left: 10px;
  padding: 2px;
  background-color: var(--font-color);
  color: var(--bg-color);
  content: 'Copied!';
}
@media (min-width: 768px) {
  ul.recommendations {
    min-width: 50%;
    max-width: 60%;
  }
}
code {
  font-size: 16px;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  z-index: 100;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  box-sizing: border-box;
  border-radius: 5px;
  background: var(--font-color);
  border: 1px solid var(--bg-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--font-color);
}
