:root {
  --dark-theme-bg-color: rgb(26, 26, 26);
  --dark-theme-font-color: rgb(240, 230, 215);
  --light-theme-bg-color: rgb(240, 210, 200);
  --light-theme-font-color: rgb(33, 13, 0);
  --base-pixel-font: 'DotGothic16';
}
@font-face {
  font-family: "DotGothic16";
  src: url("./fonts/DotGothic16/DotGothic16-Regular.ttf") format("truetype");
}

body[mode="dark"] {
  --bg-color: var(--dark-theme-bg-color);
  --font-color: var(--dark-theme-font-color);
  background-color: var(--bg-color);
  color: var(--font-color);
  scrollbar-color: var(--base-font-color);
}
body[mode="light"] {
  --bg-color: var(--light-theme-bg-color);
  --font-color: var(--light-theme-font-color);
  background-color: var(--bg-color);
  color: var(--font-color);
  scrollbar-color: var(--base-font-color);
}
body[mode="dark"] #button-dark-on {
  display: none;
}
body[mode="light"] #button-light-on {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px;
  height: 100vh;
  margin: 0px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  border-color: var(--font-color);
}
@media (max-width: 768px) {
  section {
    overflow-y: auto;
    width: 100%;
    /* margin-bottom: 100px; */
  } 
}
@media (min-width: 768px) {
  section {
    display: flex;
    flex: 100%;
    overflow: hidden;
    height: 100%;
  }
}
header,aside,main,footer {
  border-style: solid;
  border-width: 1px;
}
@media (max-width: 768px) {
  header,aside,main {
    margin-bottom: 10px;
  }
}
header,aside,main {
  padding: 10px;
}
header {
  font-family: var(--base-pixel-font), 'Segoe UI', Verdana, sans-serif;
}
header > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > span div {
  display: flex;
  align-items: center;
}
header .keys {
  display: flex;
  flex: 100%;
  overflow-x: auto;
  align-items: center;
  justify-content: space-between;
}

header > span div.key {
  justify-content: center;
  flex: 25%;
  transition: all .2s linear;
}
.hover-focus:hover {
  padding-left: 15px;
  padding-right: 15px;
  transition: all .2s linear;
}
/* переделать на var */
body[mode="dark"] .hover-focus:hover {
  background-color: rgba(66, 66, 66, .5);
}
body[mode="light"] .hover-focus:hover {
  background-color: rgba(133, 133, 133, .5);
}
header > span div.key:not(:last-child) {
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: var(--font-color);
  height: 100%;
}
header span:not(:last-child) {
  border-bottom-width: 1px;
  border-bottom-style:dashed;
  border-bottom-color: var(--font-color);
}
main {
  flex: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main > .employment-record {
  display: flex;
  transition: all .2s linear;
}
@media (min-width: 1366px) {
  main > .employment-record {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 1366px) {
  main > .employment-record {
    flex-direction: column;
    overflow-y: auto;
    max-width: 100%;
  }
  main > .employment-record .details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  main > .employment-record details, details p {
    white-space: pre-wrap;
    max-width: 90vw;
    margin-left: 2px;
  }
}
main > .employment-record:hover {
  background-color: rgba(66, 66, 66, .5);
}
main > .employment-record summary {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
main > .employment-record summary:not(:hover) {
  border-bottom-color: transparent;
  transition: all .2s linear;
} 
main > .employment-record summary:hover {
  cursor: pointer;
  border-bottom-color: var(--font-color);
  transition: all .2s linear;
}

main > span:not(:last-child),
main > div:not(:last-child),
aside > div:not(:last-child),
aside > span:not(:last-child),
section .list li:not(:last-child) {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
main > *:not(:last-child),
aside > *:not(:last-child),
section .list li:not(:last-child) {
  border-bottom-color: var(--font-color);
}
main .data {
  flex: 3 50%;
  display: flex;
  align-items: center;
}
main .data label {
  line-height: 0em;
  margin-bottom: 0.5em;
}
p {
  margin-left: 10px;
  margin-right: 10px;
}
h1,h2,h3,h4,h5,h6 {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
  font-family: var(--base-pixel-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (min-width: 768px) {  
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {  
  h1 {
    font-size: 20px;
  }
}
main > .employment-record > .details {
  flex: 7 50%;
  display: flex;
  align-items: center;
}
main > .employment-record > .details h4 {
  margin-right: 10px;
}
main > .employment-record > .details p {
  white-space: pre-wrap;
  word-wrap: break-word;
}
aside {
  flex: 25%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main, aside {
  overflow-y: auto;
}
ul {
  margin-left: 5px;
  padding-left: 5px;
}
ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contacts {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  box-sizing: content-box;
}
@media (max-width: 768px) {
  footer:not([expanded]),footer:not([expanded]) div {
    flex-direction: row;
    height: 3em;
    flex-wrap: wrap;
  }
  footer:not([expanded]) #contacts div {
    height: 3em;
  }
  footer[expanded] #contacts {
    flex-direction: column;
  }
  footer[expanded] #contacts div {
    height: 3em;
  }
  footer:not([expanded]) .collapse-icon {
    display: none;
  }
  footer[expanded] .expand-icon {
    display: none;
  }
  footer #contacts div:not(:last-child) {
    border-bottom-style: dashed;
    border-bottom-color: var(--font-color);
    border-bottom-width: 1px;
  }
}
footer #phone-number {
  white-space: nowrap;
}
#contacts > div {
  box-sizing: border-box;
  flex: auto;
  display: flex;
  align-items: center;
}
#contacts > div.stretch {
  flex: 20em;
}
#contacts div:not(:last-child) {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--font-color);
}
.pixelated {
  vertical-align: middle;
  padding: 8px;
  font-family: var(--base-pixel-font), 'Segoe UI', Verdana, sans-serif;
  font-weight: 400;
  white-space:nowrap;
}
.svg-icon {
  display: block;
  height: 24px;
  width: 24px;
  padding: 4px;
}
.svg-icon-big {
  padding: 5px;
  height: 40px;
  width: 40px;
}
@media (min-width: 768px) {
  [mobile] {
    display: none !important;
  }
}
@media (max-width: 768px) {
  [no-mobile] {
    display: none !important;
  }
}
button {
  background: none;
  outline: none;
  border: none;
  font-size: 1em;
  font-family: var(--base-pixel-font), 'Segoe UI', Verdana, sans-serif;
  white-space: nowrap;
  padding: 5px;
  display: flex;
  align-items: center;
  color: var(--font-color);
  transition: all .2s linear;
}
@media (min-width: 768px) {
  button, a {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: var(--font-color);
    transition: border-bottom-style .2s linear;
  }
  button:hover, a:hover {
    border-bottom-style: solid;
    transition: border-bottom-style .2s linear;
  }
}
button:hover {
  cursor: pointer;
  color: var(--font-color);
  opacity: .8;
  transition: all .2s linear;
}
a {
  display: flex;
  align-items: center;
  color: var(--font-color);
  text-decoration: none;
  white-space: nowrap;
  padding: 10px;
  transition: all .2s linear;
}
a:hover {
  opacity: .8;
  transition: all .2s linear;
}
svg path {
  fill: var(--font-color);
}
.scroll-arrow-button {
  background-color: rgba(var(--bg-color), 0.5);
}
@media (min-width: 768px) {
  .scroll-arrow-button {
    display: none;
  }
}
.h-menu {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.name {
  white-space: nowrap;
}
.title {
  display: flex;
  align-items: center;
}
.copied {
  cursor:help;
}
.copied [copied]::after,.copied[copied]::after {
  margin-left: 10px;
  padding: 2px;
  background-color: var(--font-color);
  color: var(--bg-color);
  content: 'Copied!';
}
@media (min-width: 768px) {
  ul.recommendations {
    min-width: 50%;
    max-width: 60%;
  }
}
code {
  font-size: 16px;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  z-index: 100;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  box-sizing: border-box;
  background: var(--font-color);
  border: 1px solid var(--bg-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--font-color);
}

/* print, save pdf version */
@media print {
  body {
    overflow: visible;
    height: auto;
  }
  body[mode="dark"]::after,
  body[mode="dark"] section::after,
  body[mode="dark"] main::after,
  body[mode="dark"] aside::after,
  body[mode="dark"] header::after,
  body[mode="dark"] footer::after {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 1920px;
    overflow: visible;
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 50' style='background:rgb(26, 26, 26)' />");
  }
  body[mode="light"]::after,
  body[mode="light"] section::after,
  body[mode="light"] main::after,
  body[mode="light"] aside::after,
  body[mode="light"] header::after,
  body[mode="light"] footer::after {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    box-sizing: content-box;
    overflow: visible;
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 50' style='background:rgb(240, 210, 200)' />");
  }
  :hover {
    background-color: transparent !important;
  }
  body #button-dark-on {
    display: none;
  }
  body #button-light-on {
    display: none;
  }
  header .keys {
    font-size: 14px;
  }
  .scroll-arrow-button {
    display: none;
  }
  a, button {
    border: solid 1px transparent;
  }
  body section {
    overflow: visible;
  }
  body main {
    overflow: visible;
    page-break-before: always;
    page-break-after: always;
  }
  .employment-record {
    page-break-after: auto;
    break-inside: avoid;
  }
  #additional-information {
    page-break-before: always;
  }
  body footer .expand-icon, footer .collapse-icon {
    display: none;
  }
  body footer, #footer {
    display: block !important;
    position: static !important;
    height: auto !important;
  }
  body footer #contacts {
    display: block;
    overflow-y: visible !important;
    height: fit-content !important;
    max-width: 100vw !important;
  }
  #print {
    display: none;
  }
  @page {
    margin: 0;
  }
}
/* end pdf */